bnaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# goland
.idea

#
.DS_Store

# worldstatedb
smartcontract/worldstatedb/*
sample/db/test/*

# key
.keys

# ledger
.ledger
.tx

# test
test*/*

# main program
main

# it-chain-datasource-path
.it-chain

# tmp
.tmp

#vendor
vendor

# leveldb output
*.log
CURRENT
LOCK
LOG
MANIFEST-*

# ignore backup config file
conf/config_bak[0-9]*.yaml

# add conf generator main
!conf/main

#pid
my.pid

# draw.io images
images/*.xml
